.main {
  height: 200vh;
  background-image: url("./background2.png");
  background-repeat: no-repeat;
  width: 100%;
}

.container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.notesMain {
  height: 100vh;
  background-image: url("./background2.png");
  background-repeat: no-repeat;
  width: 100%;
}

.notesContainer {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
}

.markdownContainer {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
  height: 85vh;
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.saveBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.saveButton {
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  border: 1pt solid white;
}

.saveButton:hover {
  font-weight: 600;
  border: 1pt solid #7598b8;
}

.editor {
  width: 100%;
  outline: none;
  margin-left: 5px;
}

.code {
  max-width: 700px;
  outline: none;
  margin-left: 5px;
}

.dayTitle {
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.markdownContent {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.markdownItem {
  padding: 10px;
  border-radius: 5px;
  background-color: #37638c;
  opacity: 0.9;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.signInButton {
  margin-top: 15px;
  width: 300px;
  padding: 20px;
  color: white;
  cursor: pointer;
  background-color: #7598b8;
  border-radius: 8px;
  border: 2pt solid #465c70;
}

.signInButton:hover {
  background-color: #465c70;
  border: 2pt solid #7598b8;
}

.tagsAndSaveBox {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.segmentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #7598b8;
  font-size: 20px;
  font-weight: 300;
  background-color: white;
  border-radius: 50%;
  width: 25px;
  padding-bottom: 2px;
}

.arrow:hover {
  background-color: #7598b8;
  color: white;
}
